[Unit]
Description=hello-c Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/root
ExecStart=/usr/bin/hello-c
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
